// colors
$bg: #ffab5c;
$box-bg: darken($bg, 5);
$bg-modal: #ffffff;
$font-color: #fff;
$header-font-color: #565656;

body {
  background-color: $bg;
  color: $font-color;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

#app {
  #main {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    header {
      color: $header-font-color;
      h1 {
        margin: 0;
        text-align: center;
        font-size: 24px;
      }

      .add {
        padding-top: 4px;
        margin-bottom: 10px;
        cursor: pointer;
        float: right;
        &:hover {
          color: darken($header-font-color, 5);
        }
      }

      > div {
        display: inline-block;
      }
    }

    .btn {
      cursor: pointer;
      padding: 5px 10px;
      border: none;
      margin-right: 2px;
      background-color: #fff;
    }

    @import "modal";
    @import "recipe";

    @media (min-width: 620px) {
      width: 600px;
    }
  }
}