$bg-recipe: #5DA1B8;

.recipe {
  padding: 5px;
  background-color: $bg-recipe;
  margin-bottom: 10px;

  .name {
    color: #fff;
    font-size: 20px;
  }

  .ingredients-title {

  }

  .ingredient {

  }

  &:hover {
    cursor: pointer;
    background-color: darken($bg-recipe, 5);
  }
}